{% extends 'base.html' %}

{% block content %}
    
<div class="container">

        <div class="bg-light fw-bolder fs-2 py-3 px-3">
            {% if department %}Edit Department{% else %}Create Department{% endif %}
            <a href="{% url 'dashboard' %}" class="float-end text-decoration-none fs-4 fw-normal"><< Back</a>
        </div>

    
<form method="post">
    {% csrf_token %}
    
    <div class="mb-3">
    <label for="name">Name:</label>
    <input class="form-control" type="text" name="name" id="name" value="{% if department %}{{ department.name }}{% endif %}" required><br>
    </div>
{#    <label for="is_active">Is Active:</label>#}
{#    <input type="checkbox" name="is_active" id="is_active" {% if department and department.is_active %}checked{% endif %}><br>#}

    {% if department %}
        <p>Created By: {{ department.created_by.username }}</p>
        <p>Created On: {{ department.created_on }}</p>
    {% endif %}

    <div class="mb-3">
                <button type="submit" class="btn btn-success btn-sm">{% if department %}Update{% else %}Create{% endif %}</button>
    </div>

</form>
</div>
{% endblock content %}